apiVersion: ako.vmware.com/v1alpha1
kind: ApplicationProfile
metadata:
  name: applicationprofile-sample-all-fields
  labels:
    app.kubernetes.io/name: ako-crd-operator
    app.kubernetes.io/managed-by: kustomize
spec:
  type: APPLICATION_PROFILE_TYPE_HTTP # Required. Enum: APPLICATION_PROFILE_TYPE_HTTP
  http_profile: # Optional
    connection_multiplexing_enabled: true # Optional, default: true
    xff_enabled: true # Optional, default: true
    xff_alternate_name: "X-Forwarded-For-Custom" # Optional, default: "X-Forwarded-For"
    xff_update: "REPLACE_XFF_HEADERS" # Optional, default: "REPLACE_XFF_HEADERS". Enum: REPLACE_XFF_HEADERS, APPEND_TO_THE_XFF_HEADER, ADD_NEW_XFF_HEADER
    x_forwarded_proto_enabled: false # Optional, default: false
    client_body_timeout: 30000 # Optional, default: 30000. Range: 0-100000000
    keepalive_timeout: 30000 # Optional, default: 30000. Range: 10-100000000
    client_max_body_size: 0 # Optional, default: 0 (Unlimited)
    keepalive_header: false # Optional, default: false
    use_app_keepalive_timeout: false # Optional, default: false
    max_keepalive_requests: 100 # Optional, default: 100. Range: 0-1000000. 0 means unlimited.
    reset_conn_http_on_ssl_port: false # Optional, default: false
    http_upstream_buffer_size: 0 # Optional, default: 0 (Auto compute). Range: 0-256
    enable_chunk_merge: true # Optional, default: true
    use_true_client_ip: true # Optional, default: false
    true_client_ip: # Optional
      headers: # Default: {"X-Forwarded-For"}
        - "X-Forwarded-For"
      index_in_header: 1 # Optional, default: 1. Range: 1-1000
      direction: "LEFT" # Optional, default: "LEFT". Enum: LEFT, RIGHT
    max_header_count: 256 # Optional, default: 256. Range: 0-4096. 0 means unlimited.
    close_server_side_connection_on_error: false # Optional, default: false