---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: applicationprofiles.ako.vmware.com
spec:
  group: ako.vmware.com
  names:
    kind: ApplicationProfile
    listKind: ApplicationProfileList
    plural: applicationprofiles
    singular: applicationprofile
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ApplicationProfile is the Schema for the applicationprofiles
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: Spec defines the desired state of ApplicationProfile
            properties:
              http_profile:
                description: HTTPProfile specifies the HTTP application proxy profile
                  parameters.
                properties:
                  client_body_timeout:
                    description: |-
                      The maximum time - in milliseconds - the server will wait between 2 consecutive read operations of a client request's body chunk. The value '0' specifies no timeout. This setting generally impacts the time allowed for a client to send a POST request with a body, it does not limit the time for the entire request body to be sent.
                      (units) = MILLISECONDS,
                    format: int32
                    maximum: 100000000
                    minimum: 0
                    type: integer
                  client_max_body_size:
                    description: |-
                      Maximum size for the client request body.  This limits the size of the client data that can be uploaded/posted as part of a single HTTP Request. The default value is 0 and means there is no size limit.
                      (units) = KB,
                    format: int32
                    type: integer
                  close_server_side_connection_on_error:
                    description: Close server-side connection when an error response
                      is received.
                    type: boolean
                  connection_multiplexing_enabled:
                    description: Allows HTTP requests, not just TCP connections, to
                      be load balanced across servers. Proxied TCP connections to
                      servers may be reused by multiple clients to improve performance.
                      This feature can not be enabled if the 'Preserve Client IP'
                      feature is enabled.
                    type: boolean
                  enable_chunk_merge:
                    default: true
                    description: Enable chunk body merge for chunked transfer encoding
                      response.
                    type: boolean
                  http_upstream_buffer_size:
                    description: |-
                      Size of HTTP buffer in kB.
                      (units) = KB,
                      (special_values) =  {'0': 'Auto compute the size of buffer'},
                    format: int32
                    maximum: 256
                    minimum: 0
                    type: integer
                  keepalive_header:
                    description: Send HTTP 'Keep-Alive' header to the client. By default,
                      the timeout specified in the 'keepalive_timeout' field will
                      be used unless the 'Use App Keepalive Timeout' flag is set,
                      in which case the timeout sent by the application will be honored.
                    type: boolean
                  keepalive_timeout:
                    description: |-
                      "The max idle time allowed between HTTP requests over a Keep-alive connection."
                      (units) = MILLISECONDS,
                    format: int32
                    maximum: 100000000
                    minimum: 10
                    type: integer
                  max_header_count:
                    default: 256
                    description: |-
                      Maximum number of headers allowed in HTTP request and response.
                      (special_values) =  "{\"0\": \"unlimited headers in request and response\"}",
                    format: int32
                    maximum: 4096
                    minimum: 0
                    type: integer
                  max_keepalive_requests:
                    description: |-
                      The max number of HTTP requests that can be sent over a Keep-Alive connection. '0' means unlimited.
                      (special_values) = "{\"0\": \"Unlimited requests on a connection\"}",
                    format: int32
                    maximum: 1000000
                    minimum: 0
                    type: integer
                  reset_conn_http_on_ssl_port:
                    description: If enabled, an HTTP request on an SSL port will result
                      in connection close instead of a 400 response.
                    type: boolean
                  true_client_ip:
                    description: Detect client IP from user specified header at the
                      configured index in the specified direction.
                    properties:
                      direction:
                        description: Denotes the end from which to count the IPs in
                          the specified header value.
                        enum:
                        - LEFT
                        - RIGHT
                        type: string
                      headers:
                        description: HTTP Headers to derive client IP from. If none
                          specified and use_true_client_ip is set to true, it will
                          use X-Forwarded-For header, if present.
                        items:
                          type: string
                        maxItems: 1
                        type: array
                        x-kubernetes-validations:
                        - message: Each header name must be at most 128 characters
                            long.
                          rule: self.all(header, size(header) <= 128)
                      index_in_header:
                        description: Position in the configured direction, in the
                          specified header's value, to be used to set true client
                          IP. If the value is greater than the number of IP addresses
                          in the header, then the last IP address in the configured
                          direction in the header will be used.
                        format: int32
                        maximum: 1000
                        minimum: 1
                        type: integer
                    type: object
                  use_app_keepalive_timeout:
                    description: Use 'Keep-Alive' header timeout sent by application
                      instead of sending the HTTP Keep-Alive Timeout.
                    type: boolean
                  use_true_client_ip:
                    description: Detect client IP from user specified header.
                    type: boolean
                  x_forwarded_proto_enabled:
                    description: Insert an X-Forwarded-Proto header in the request
                      sent to the server. When the client connects via SSL, Avi terminates
                      the SSL, and then forwards the requests to the servers via HTTP,
                      so the servers can determine the original protocol via this
                      header. In this example, the value will be 'https'.
                    type: boolean
                  xff_alternate_name:
                    description: Provide a custom name for the X-Forwarded-For header
                      sent to the servers.
                    type: string
                  xff_enabled:
                    description: The client's original IP address is inserted into
                      an HTTP request header sent to the server. Servers may use this
                      address for logging or other purposes, rather than Avi's source
                      NAT address used in the Avi to server IP connection.
                    type: boolean
                  xff_update:
                    description: Configure how incoming X-Forwarded-For headers from
                      the client are handled.
                    enum:
                    - REPLACE_XFF_HEADERS
                    - APPEND_TO_THE_XFF_HEADER
                    - ADD_NEW_XFF_HEADER
                    type: string
                type: object
                x-kubernetes-validations:
                - message: true_client_ip can only be configured if use_true_client_ip
                    is true
                  rule: ((!self.use_true_client_ip) && !has(self.true_client_ip))||
                    (self.use_true_client_ip && has(self.true_client_ip))
                - message: xff_alternate_name and xff_update can only be configured
                    if xff_enabled is true
                  rule: self.xff_enabled || (!has(self.xff_alternate_name) && !has(self.xff_update))
                - message: if xff_update is APPEND_TO_THE_XFF_HEADER, xff_alternate_name
                    must be an empty string.
                  rule: '!(has(self.xff_update) && self.xff_update == ''APPEND_TO_THE_XFF_HEADER''
                    && has(self.xff_alternate_name))'
              type:
                description: Type specifies which application layer proxy is enabled
                  for the virtual service.
                enum:
                - APPLICATION_PROFILE_TYPE_HTTP
                type: string
                x-kubernetes-validations:
                - message: applicatio_profile_type is immutable
                  rule: self == oldSelf
            required:
            - type
            type: object
          status:
            description: Status defines the observed state of ApplicationProfile
            properties:
              backendObjectName:
                description: BackendObjectName is the name of the backend object
                type: string
              conditions:
                description: |-
                  Conditions is the list of conditions for the application profile
                  Supported condition types:
                  - "Programmed": Indicates whether the ApplicationProfile has been successfully
                    processed and programmed on the Avi Controller
                    Possible reasons for True: "Created", "Updated"
                    Possible reasons for False: "CreationFailed", "UpdateFailed", "UUIDExtractionFailed", "DeletionFailed", "DeletionSkipped"
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              controller:
                description: Field is populated by AKO CRD operator as ako-crd-operator
                type: string
              lastUpdated:
                description: LastUpdated is the timestamp the object was last updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the observed generation by the
                  operator
                format: int64
                type: integer
              tenant:
                description: Tenant is the tenant where the application profile is
                  created
                type: string
              uuid:
                description: UUID is unique identifier of the application profile
                  object
                type: string
            required:
            - uuid
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
