# Default values for ako.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: 10.79.172.11:5000/avi-buildops/ako
  pullPolicy: IfNotPresent

configs:
  controllerVersion: "18.2.8"
  shardVSSize: "LARGE"
  passthroughShardSize: "SMALL"
  fullSyncFrequency: "300"
  cloudName: "Default-Cloud"
  clusterName: ""
  defaultDomain: ""
  disableStaticRouteSync: "false"
  ingressApi: "corev1" #enum: extensionv1 and corev1 - if not set default to corev1
  defaultIngController: "true"
  subnetIP: "" # Subnet IP of the data network
  subnetPrefix: "" # Subnet Prefix of the data network
  networkName: "" # Network Name of the data network
  l7ShardingScheme: "hostname"
  cniPlugin: "" #enum: calico|canal|flannel
  logLevel: "INFO" #enum: INFO|DEBUG|WARN|ERROR
  deleteConfig: "false" # Has to be set to true in configmap if user wants to delete AKO created objects from AVI
  serviceType: ClusterIP #enum NodePort|ClusterIP
  serviceEngineGroupName: "Default-Group" # Name of the ServiceEngine Group.
  nodeNetworkName: "" # Network name of the node network
  nodeNetworkCIDRs: [] # List of CIDR of node network where the nodes are created.
  ## Advanced L4 allows users to control VS settings using the services-api. This disables all Ingress/Route features.
  ## Forces the L4 syncing to use Gateway object.
  advancedL4: "false"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

nodePortSelector: # Only applicable if serviceType is NodePort
  key: ""
  value: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

podSecurityContext: {}
  # fsGroup: 2000


avicredentials:
  username: admin
  password: orion123


service:
  type: ClusterIP
  port: 80


persistentVolumeClaim: ""
mountPath: "/log"
logFile: "avi.log"
