apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "chart.labels" . | nindent 4 }}
  name: ako-crd-operator-role
rules:
  - apiGroups:
      - ako.vmware.com
    resources:
      - healthmonitors
      - healthmonitors/status
      - healthmonitors/finalizers
      - routebackendextensions
      - routebackendextensions/status
      - pkiprofiles
      - pkiprofiles/status
      - pkiprofiles/finalizers
    verbs:
      - '*'
  - apiGroups:
      - ako.vmware.com
    resources:
      - applicationprofiles
      - applicationprofiles/status
      - applicationprofiles/finalizers
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - secrets
      - namespaces
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch